@import './vars';
@import './header';
@import './home';
@import './service';
@import './work';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--dm-sans);
    font-weight: 400;
    font-size: 18px;
    color: var(--OUTER-SPACE);
    letter-spacing: 0.5px;
}
.wrapper-row {
    height: 100vh;
}
.container {
    max-width: 1284px;
    padding: 0 20px;
    margin: 0 auto;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 126px;
    width: 100%;
    height: 48px;
    font-family: var(--dm-sans);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: var(--WHITE);
    background-color: var(--MYRTLE-GREEN);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}